.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 85px);

    .left-column {
        background-size: cover;
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offwhite;

        .auth-form-wrapper {
            @include input-element();
            @include based-grid();  
            grid-gap: 21px;
            padding: 42px;
            
            svg {
                font-size: 2em;
                color: $teal;
                margin-right: 15px;
            }
        }
    }
}